.form-cont {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form-input-cont {
  margin: 1rem;
  display: flex;
  justify-content: space-around;
}

.form-inputs-cont {
  text-align: center;
}

.form-p {
  color: red;
}
