.filter-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #373f51;
  padding: 1rem;
  color: white;
}

.filter-menu {
  width: 100%;
  background-color: #373f51;
  padding-top: 1rem;
  padding-bottom: 0rem;
  justify-content: space-between;
}

.filter-options {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.filter-group {
  display: flex;
  flex-direction: row;
}

.filter-item {
  margin-bottom: 1rem;
  float: left;
  margin-left: 2rem;
}

.filter-item select {
  margin-top: 1rem;
}

.search-bar {
  width: 100%;
}

.search-bar input {
  margin-bottom: 1rem;
  width: 33%;
  padding: 10px;
  border-radius: 20px;
}

.search-bar button {
  margin-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.pagination-buttons-holder {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.pagination-buttons {
  display: flex;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  font-weight: bolder;
}

.filter-menu > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.5rem;
}

.filter-menu label {
  margin-bottom: 0.5rem;
}

.filter-menu input,
.filter-menu select {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
}

.pagination-buttons {
  display: flex;
  justify-content: center;
  width: 8rem;
}

.home-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-cont h1 {
  margin-bottom: 1rem;
}
